[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest.git
[submodule "third-party/benchmark"]
	path = third-party/benchmark
	url = https://github.com/google/benchmark.git
